# 【entity-Xbox¦canonical_name=Xbox】 + Windows only - blocks Android that broke first 3 builds
/Platform/Android/
**/AndroidManifest.xml
**/*.obb
**/*.apk
Build/Android/

Binaries/
Intermediate/
Saved/
DerivedDataCache/
Build/

!Content/
!Config/
!Source/
!/Platform/Xbox/