# Don't track Android at all
/Platform/Android/
**/AndroidManifest.xml
**/*.obb
**/*.apk
Build/Android/

# Unreal junk that breaks GitHub when you edit main line
Binaries/
Intermediate/
Saved/
DerivedDataCache/
Binaries/*
/Build/

# Keep these - DON'T ignore
!Content/
!Config/
!Source/
!/Platform/Xbox/