<?xml version="1.0" encoding="utf-8"?>
<Game configVersion="1">
  <Identity Name="TheOtherHalf"
            Publisher="CN=YourPublisher"
            Version="1.0.0.0"/>
  <Properties>
    <DisplayName>The Other Half</DisplayName>
    <PublisherDisplayName>The Other Half</PublisherDisplayName>
    <Description>The Other Half game package</Description>
    <Logo>Assets\StoreLogo.png</Logo>
    <DesktopApplication>true</DesktopApplication>
  </Properties>
  <Dependencies/>
  <StoreAssociation>0</StoreAssociation>
  <RuntimeBehavior>Win32</RuntimeBehavior>
  <AccountPicker>false</AccountPicker>
  <Executable Name="TheOtherHalf.exe" />
</Game>