<?xml version="1.0" encoding="utf-8"?>
<Game configVersion="1">
  <Identity Name="PULSPLAITTheOtherHalf" Publisher="CN=Publisher" Version="1.0.0.0" />
  <Title TitleId="00000000" ProductFamilyName="TheOtherHalf" ProductId="TheOtherHalf" />
  <Executable Name="TheOtherHalf" TargetDeviceFamily="Console" />
  <Resources>
    <Resource Name="LogoStore" FileName="Assets/Logos/StoreLogo.png" />
    <Resource Name="SplashScreen" FileName="Assets/Logos/SplashScreen.png" />
  </Resources>
  <GameOs>
    <DeviceFamily Name="XboxOneGen9" />
  </GameOs>
  <DisplayName>The Other Half - Benway City</DisplayName>
  <PublisherDisplayName>PULS PLAIT</PublisherDisplayName>
</Game>